body {
  font-family: "Montserrat";
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
}

p {
  color: #bfbfbf;
}
.colored-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}

.big-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}
#title .container-fluid {
  padding: 3% 7% 15%;
}

.section-heading {
  font-size: 3rem;
}

#title {
  text-align: left;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: light;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin: auto 30% -12rem 50px;
}
.positioning {
  position: relative;
}

#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef1872;

  margin: auto;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

.feature-box .col-lg-4 {
  margin: auto 7.5% auto 0;
}

#testimonials {
  padding: 5% 10%;

  background-color: #ef1872;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef1872;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
}
.pricing-title {
  font-size: 2.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
  #title {
    text-align: center;
  }
}

#footer p {
  font-weight: 500;
}
.social-icon {
  margin: 10px 20px;
}
